---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="About Us">
    <section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white text-2xl font-bold flex flex-row gap-x-4 pb-5">
			Hi, my name is Isaac Ramírez
		</h1>

        <h2 class="text-white text-l flex flex-row">I'm someone who loves technology, enjoys forming new habits, and likes exploring topics I'm not familiar with.</h2>

        <h1 class="text-white text-2xl font-bold flex flex-row gap-x-4 pb-3 pt-2">
            ¿Why am I studying Computer Engineering?
        </h1>
        <h2 class="text-white text-l flex flex-row mt-1">
            have been researching technology since I was a kid. I love how technology can significantly improve our future, from the smallest changes to the biggest ones. My journey began when I played video games as a kid. I didn't study Computer Science to become a game developer; instead, I was fascinated by how developers create software and hardware to solve complex problems. That's why I'm specializing in my career. This fascination led me to start programming when I was 17 years old. As a younger person, I didn't research much because I didn't think it was important. However, I've come to realize that knowledge is power. That's why I now enjoy investigating things I am passionate about and solutions that can make my life easier and help solve complex problems.
        </h2>
        <h1 class="text-white text-2xl font-bold flex flex-row gap-x-4 pb-3 pt-2">
            Skills
        </h1>
        <div class="skills-container">
            <a href="https://www.adobe.com/products/aftereffects.html" target="_blank">
                <img alt="After Effects" width="33px" src="https://github.com/tandpfun/skill-icons/blob/main/icons/AfterEffects.svg" />
              </a>
              <a href="https://www.arduino.cc" target="_blank">
                <img alt="After Effects" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Arduino.svg" />
              
              <!-- Blender -->
              <a href="https://www.blender.org/" target="_blank">
                <img alt="Blender" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Blender-Dark.svg" />
              
              <!-- C -->
              <a href="https://learn.microsoft.com/en-us/cpp/c-language/c-language-reference?view=msvc-170" target="_blank">
                <img alt="C" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/C.svg" />
              
              <!-- C++ -->
              <a href="https://www.cplusplus.com/" target="_blank">
                <img alt="C++" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/CPP.svg" />
              
              <!-- CSS -->
              <a href="https://www.w3schools.com/css/" target="_blank">
                <img alt="CSS" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/CSS.svg" />
              
              <!-- OpenCV -->
              <a href="https://opencv.org" target="_blank">
                <img alt="CSS" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/OpenCV-Dark.svg" />
              
                <!-- Discord -->
              <a href="https://discord.com" target="_blank">
                <img alt="CSS" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Discord.svg" />
                
              <!-- Firebase -->
              <a href="https://firebase.google.com/" target="_blank">
                <img alt="Firebase" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Firebase-Dark.svg" />
              
              <!-- Figma -->
              <a href="https://www.figma.com" target="_blank">
                <img alt="Firebase" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Figma-Dark.svg" />
              
              <!-- Git -->
              <a href="https://git-scm.com/" target="_blank">
                <img alt="Git" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Git.svg" />
              
              <!-- Go -->
              <a href="https://golang.org/" target="_blank">
                <img alt="Go" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/GoLang.svg" />
              
              <!-- Google Cloud -->
              <a href="https://cloud.google.com/" target="_blank">
                <img alt="Google Cloud" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/GCP-Dark.svg" />
              
              <!-- HTML -->
              <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                <img alt="HTML" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/HTML.svg" />
              
              <!-- Java -->
              <a href="https://www.java.com/" target="_blank">
                <img alt="Java" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Java-Dark.svg" />
              
              <!-- JavaScript -->
              <a href="https://developer.mozilla.org/en-US/docs/Web/javascript" target="_blank">
                <img alt="JS" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/JavaScript.svg" />
              
              <!-- LaTeX -->
              <a href="https://www.latex-project.org/" target="_blank">
                <img alt="LaTeX" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/LaTeX-Dark.svg" />
              
              <!-- Linux -->
              <a href="https://en.wikipedia.org/wiki/Linux" target="_blank">
                <img alt="Linux" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Linux-Dark.svg" />
              
              <!-- Lua -->
              <a href="https://www.lua.org/" target="_blank">
                <img alt="Lua" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Lua-Dark.svg" />
              
              <!-- Markdown -->
              <a href="https://www.markdownguide.org/" target="_blank">
                <img alt="Markdown" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Markdown-Dark.svg" />
              
              <!-- Node.js -->
              <a href="https://nodejs.org/" target="_blank">
                <img alt="Node.js" width="33px" style="padding-right:13px;" src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/NodeJS-Dark.svg" />
              </a>
              
              <!-- Notion -->
              <a href="https://www.notion.so/" target="_blank">
                <img alt="Node.js" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Notion-Dark.svg" />
              </a>
              
              <!-- Premiere Pro -->
              <a href="https://www.adobe.com/products/premiere.html" target="_blank">
                <img alt="Premiere Pro" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Premiere.svg" />
              
              <!-- Python -->
              <a href="https://www.python.org/" target="_blank">
                <img alt="Python" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Python-Dark.svg" />
              
                <!-- Pytorch -->
              <a href="https://pytorch.org" target="_blank">
                <img alt="Python" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/PyTorch-Dark.svg" />
              
              <!-- QT -->
              <a href="https://www.qt.io" target="_blank">
                <img alt="Python" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/QT-Dark.svg" />
              
              <!-- Rust -->
              <a href="https://www.rust-lang.org/" target="_blank">
                <img alt="Rust" width="33px" style="padding-right:13px;" src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Rust.svg" />
              </a>
              
              <!-- Raspberrypi -->
              <a href="https://www.raspberrypi.com" target="_blank">
                <img alt="Rust" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/RaspberryPi-Dark.svg" />
              </a>
              
              <!-- Ruby -->
              <a href="https://www.ruby-lang.org/es/" target="_blank">
                <img alt="Rust" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Ruby.svg" />
              </a>
              
              <!-- Unreal Engine -->
              <a href="https://www.unrealengine.com/" target="_blank">
                <img alt="Unreal Engine" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/UnrealEngine.svg" />
              
              <!-- Vim -->
              <a href="https://www.vim.org/" target="_blank">
                <img alt="Vim" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/NeoVim-Dark.svg" />
              
              <!-- VueJS -->
              <a href="https://vuejs.org/" target="_blank">
                <img alt="Vue" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/VueJS-Dark.svg" />
              </a>
              
              <!-- Apple -->
              <a href="https://apple.com" target="_blank">
                <img alt="Apple" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Apple-Dark.svg" />
              </a>
              
              <!-- Arch -->
              <a href="https://archlinux.org/" target="_blank">
                <img alt="Arch" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Arch-Dark.svg" />
              </a>
              
              <!-- Astro -->
              <a href="https://astro.build/" target="_blank">
                <img alt="Astro" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Astro.svg" />
              </a>
              
              <!-- Bootstrap -->
              <a href="https://getbootstrap.com/" target="_blank">
                <img alt="Bootstrap" width="33px" style="padding-right:13px;" src="https://github.com/tandpfun/skill-icons/blob/main/icons/Bootstrap.svg" />
              </a>
        </div>



</BaseLayout>

<style>

.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px; /* Espacio alrededor de los elementos dentro del contenedor */
}

.skills-container img {
  display: block; /* Elimina el espacio extra debajo de las imágenes */
}
</style>


