---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="About Us">
    <section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white text-2xl font-bold flex flex-row gap-x-4 pb-5">
			Hi, my name is Isaac Ramírez
		</h1>

        <h2 class="text-white text-l flex flex-row">I'm someone who loves technology, enjoys forming new habits, and likes exploring topics I'm not familiar with.</h2>

        <h1 class="text-white text-2xl font-bold flex flex-row gap-x-4 pb-3 pt-2">
            ¿Why am I studying Computer Engineering?
        </h1>
        <h2 class="text-white text-l flex flex-row mt-1">
            have been researching technology since I was a kid. I love how technology can significantly improve our future, from the smallest changes to the biggest ones. My journey began when I played video games as a kid. I didn't study Computer Science to become a game developer; instead, I was fascinated by how developers create software and hardware to solve complex problems. That's why I'm specializing in my career. This fascination led me to start programming when I was 17 years old. As a younger person, I didn't research much because I didn't think it was important. However, I've come to realize that knowledge is power. That's why I now enjoy investigating things I am passionate about and solutions that can make my life easier and help solve complex problems.
        </h2>
        <h1 class="text-white text-2xl font-bold flex flex-row gap-x-4 pb-3 pt-2">
            Skills
        </h1>
        <div class="skills-container">
          <a href="https://www.w3schools.com/c/c_intro.php" target="_blank">
              <img alt="C" width="33px" src="/public/img/icons/C.svg" />
          </a>
          <a href="https://www.w3schools.com/cpp/" target="_blank">
              <img alt="C++" width="33px" src="/public/img/icons/C++.svg" />
          </a>
          <a href="https://go.dev/" target="_blank">
              <img alt="Go" width="33px" src="/public/img/icons/Go.svg" />
          </a>
          <a href="https://www.java.com/en/" target="_blank">
              <img alt="Java" width="33px" src="/public/img/icons/Java.svg" />
          </a>
          <a href="https://www.w3schools.com/js/" target="_blank">
              <img alt="Javascript" width="33px" src="/public/img/icons/JS.svg" />
          </a>
          <a href="https://www.latex-project.org/" target="_blank">
              <img alt="Latex" width="33px" src="/public/img/icons/Latex.svg" />
          </a>
          <a href="https://www.python.org/" target="_blank">
              <img alt="Python" width="33px" src="/public/img/icons/Python.svg" />
          </a>
          <a href="https://www.ruby-lang.org/en/" target="_blank">
              <img alt="Ruby" width="33px" src="/public/img/icons/Ruby.svg" />
          </a>
          <a href="https://www.rust-lang.org/" target="_blank">
              <img alt="Rust" width="33px" src="/public/img/icons/Rust.svg" />
          </a>
      </div>



</BaseLayout>

<style>

.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px; /* Espacio alrededor de los elementos dentro del contenedor */
}

.skills-container img {
  display: block; /* Elimina el espacio extra debajo de las imágenes */
}
</style>


