---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title="Music">
  <section class="w-full lg:w-[740px] mx-auto py-44" data-aos="zoom-in">
    <!-- Contenedor Principal -->
    <div class="container mx-auto px-4">
      <!-- Contenido Principal en el Centro -->
      <div class="text-center">
        <img
          src="/PortfolioV2/img/project/Cyber.webp"
          alt="Cyber-Background"
          class="h-64 object-cover w-full"
        />
        <h1 class="text-white text-4xl font-bold mt-5">Bible</h1>
        <h2 class="text-white text-lg mt-3">
          Bible is a playlist that was created with the intention of combining
          most genres of rap music in the US, with artists as Drake, Travis
          Scott, Kendrick Lamar, Metro, Kanye, etc.
        </h2>
        <!-- Lista de Avatares/Iconos -->
        <ul class="flex justify-center mt-3">
          <li>
            <a href="https://www.instagram.com/ortizbarquero/">
              <img
                src="https://avatars.githubusercontent.com/u/129782590?v=4"
                alt="Ram-Icon"
                class="mr-2 h-6 w-6 rounded-full"
              />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/izackk_r/">
              <img
                src="https://avatars.githubusercontent.com/u/128321469?v=4"
                alt="Isaac-Icon"
                class="mr-2 h-6 w-6 rounded-full"
              />
            </a>
          </li>
        </ul>
        <!-- Botón de Acción -->
        <a
          href="https://open.spotify.com/playlist/0WiWwazBe8TwM6cBUnR24y?si=ff006f4e683746d7"
          class="bg-white hover:bg-blue-700 text-black font-bold py-2 px-4 rounded-full mt-4 inline-block transition duration-150 ease-in-out hover:shadow-lg"
        >
          Play
        </a>
      </div>

      <!-- Contenido Horizontal (Cont2 y Cont3) -->
      <div class="flex justify-between mt-10">
        <!-- Cont2 -->
        <div class="w-full sm:w-1/2 pr-2">
          <img
            src="/PortfolioV2/img/project/Beach.webp"
            alt=""
            class="h-48 w-full object-cover rounded-lg"
          />
          <h1 class="text-white text-xl font-bold mt-5">
            That's Why She left me
          </h1>
          <h2 class="text-white text-lg mt-3">
            "That's why she left me" is a playlist based on Reggaeton, Reggae,
            and music that can truly impact our daily mood. It starts with the
            most upbeat Reggaeton tracks and gradually transitions to some
            melancholic tunes that may remind you of your ex. That's where the
            name of the playlist originates from.
          </h2>
          <ul class="flex mt-3">
            <li>
              <a href="https://www.instagram.com/ortizbarquero/">
                <img
                  src="https://avatars.githubusercontent.com/u/129782590?v=4"
                  alt="Ram-Icon"
                  class="mr-2 h-6 w-6 rounded-full"
                />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/izackk_r/">
                <img
                  src="https://avatars.githubusercontent.com/u/128321469?v=4"
                  alt="Isaac-Icon"
                  class="mr-2 h-6 w-6 rounded-full"
                />
              </a>
            </li>
          </ul>
          <a
            href="https://open.spotify.com/playlist/7o4mLd5W8KZEjgFF1JUFPo?si=2d4f32c955744f47"
            class="bg-white hover:bg-blue-700 text-black font-bold py-2 px-4 rounded-full mt-4 inline-block transition duration-150 ease-in-out hover:shadow-lg"
          >
            Play
          </a>
        </div>
        <!-- Cont3 -->
        <div class="w-full sm:w-1/2 pl-2">
          <img
            src="/PortfolioV2/img/project/House.webp"
            alt=""
            class="h-48 w-full object-cover rounded-lg"
          />
          <h1 class="text-white text-xl font-bold mt-5">Old Music</h1>
          <h2 class="text-white text-lg mt-3">
            "Old Music" is a playlist I made featuring some of my father's
            favorites as well as mine. I haven't added too much to it, but
            nowadays I'm listening to a lot of heavy metal, so I'll probably
            upload more music there soon.
          </h2>
          <ul class="flex mt-3">
            <li>
              <a href="https://www.instagram.com/izackk_r/">
                <img
                  src="https://avatars.githubusercontent.com/u/128321469?v=4"
                  alt="Isaac-Icon"
                  class="mr-2 h-6 w-6 rounded-full"
                />
              </a>
            </li>
            <!-- Posibles Integrantes -->
            <li></li>
          </ul>
          <a
            href="https://open.spotify.com/playlist/7x54BFwbbXcXYfHXYMo12l?si=1c1994cb476246dc"
            class="bg-white hover:bg-blue-700 text-black font-bold py-2 px-4 rounded-full mt-4 inline-block transition duration-150 ease-in-out hover:shadow-lg"
          >
            Play
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style></style>
