<header class="flex justify-between items-center py-3 w-full max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <img class="rounded-full w-12 h-12" src="https://avatars.githubusercontent.com/u/128321469?v=4" alt="Logo" />
    <nav class="text-white flex flex-row gap-x-4 sm:gap-x-10 opacity-80">
        <a href="/PortfolioV2/">Home</a>
        <a href="/PortfolioV2/about">About</a>
        <a href="/PortfolioV2/projects">Projects</a>
    </nav>
</header>
