<footer class="black rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto px-4 py-8">
        <div class="flex flex-wrap justify-between items-center">
            <a href="https://github.com/iZackk26" class="flex items-center mb-4 md:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://avatars.githubusercontent.com/u/128321469?v=4" class="h-8 w-8 rounded-full" alt="iZack Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap text-white">iZack</span>
            </a>
            <ul class="flex flex-wrap justify-center items-center mb-4 md:mb-0 text-sm font-medium text-gray-500 dark:text-gray-400">
                <li>
                    <a href="/PortfolioV2/about" class="hover:underline mr-4 md:mr-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 dark:border-gray-700" />
        <div class="text-center">
            <span class="block text-sm text-gray-500 dark:text-gray-400">© 2024 <a href="/" class="hover:underline">Isaac™</a>. All Rights Reserved.</span>
            <span class="block text-sm text-gray-500 dark:text-gray-400"><a href="https://github.com/iZackk26/PortfolioV2" class="hover:underline">This web portfolio is still in development. Check for updates on my GitHub</a></span>
        </div>
    </div>
</footer>